* {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

.contenedor {
    width: 100%;
    height: 666px;
    background-image: url('img/fondo.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.formulario {
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    height: 500px;
    width: 500px;
    margin-left: 380px;
    margin-right: 350px;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;




}

form {
    width: 100%;
    height: 100%;

}

.titulo {
    width: 100%;
    height: 100px;
    margin-bottom: 40px;
}

h2 {
    margin-top: 20px;
    font-size: 50px;
    text-align: center;
}

label {
    padding-top: 30px;
    margin-left: 60px;
    font-size: 20px;
}

input {
    margin-top: 15px;
    margin-left: 50px;
    width: 80%;
    height: 30px;
    color: rgb(3, 3, 3);
    font-weight: bold;
    padding-left: 10px;
    font-size: 20px;
    background: none;
    border: none;
    border-bottom: black 2px solid;
    outline: none;
}

button {
    margin-top: 50px;
    margin-left: 180px;
    height: 40px;
    width: 150px;
    background: white;
    border: none;
    border: black 1px solid;
    border-radius: 5px;
}

button:hover {
    background: brown;
    font-weight: bold;
}
